/* semua style diberikan margins dan padding 0 */
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* semua tampilan html bentuk font*/
body {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: ghostwhite;
    background-image: url(gambar/istockphoto-481068380-612x612-removebg-preview.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    
}



.welcome{
    height: 100%;
}

/* Styling Class Wrapper di index*/
.wrapper {
    width: 1350px;
    margin:auto;  /*membuat wrapper dibagian tengah*/
    position: relative;
    background-color: honeydew;
    text-align: center;
}

/*Styling Class Logo kalimat Two Food Market Restaurant*/
.logo a {
    font-size: 30px;
    font-weight: 800;
    margin-inline-start: 30px;
    float: left; /*untuk posisi tulisan twofood terletak di kiri */
    font-family: courier;
    color: #364f6b;

}

/*Styling class menu tampilan kalimat di navbar */
.menu {
    float: right; /*untuk posisi tulisan navbar terletak di kanan */
    margin-inline-end: 30px;
}

/*styling bagian navigasi*/
nav {
    width: 100%;
    margin-top: 0px;
    display: flex; /*membuat seperti kolom kolom di menu menu nya */
    line-height: 80px; /*posisi dari bagian atas dan bagian bawah bisa rata seimbang di bagian tengah dari div nya */
    position: sticky; /*posisi bagian menu tetap di atas agar di scrool tidak hilang*/
    position: -webkit-sticky; /*posisi untuk safari */ 
    top: 0; /*urutan dari atas akan menempel di bagian atas */
    background: #FFFF;
    z-index: 1; /*agar navbar tidak menghilang*/
    border-bottom: 3px solid #0056be; /*garis bawah navbar*/
}

/*styling keseluruhan bagian nav ul bagian navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

/*styling bagian nav ul bagian masing2 anggota navbar */
nav ul li {
    float: left; /*menuju ke bagian kiri */
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px ; /*bisa urutan dari atas0px kanan16px kiri16px dan bawah0px bisa lebih tertata, */
    text-decoration: none;
} 

/*styling bagian hover yaitu garis hitam dibawah tulisan bagian navbar pada saat kursos memilih icon  */
nav ul li a:hover {
    text-decoration: underline;
}

/*styling tulisan welcome*/
.welcome {
    margin-top: 50px;
    margin-bottom: 30px; 
    text-align: center;
}

h1 {
    font-style: oblique;
    font-family: cursive;
    
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #7c7c7c;
}



/*ukuran gambar nasi goreng*/
.container {
    width: 2000px;
    height: 500px;
    margin-top: 10px;
    
}
img {
    width: 630px;
    height: 400px;
    
}

.container2 {
    width: 1300px;
    height: 600px;
    margin-top: 0px;
    margin-left: 100px;
    
}
.container2 img {
    width: 630px;
    height: 400px;
    margin-top: 70px;
}

.container3  {
    width: 1300px;
    height: 600px;
    margin-top: 0px;
    margin-left: 100px;
}

.container3 img {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-right: 100px;
}


/*pengaturan tab section di styling bagian isi*/
section {
    margin-top: 0px;
    margin: auto;
    display: flex; /*membuat tampilan div berbentuk kolom */
    margin-bottom: 0px; /*ukuran jeda agar bisa mempunyai jeda anatara 1 section dengan section yang lain */
}

/*pengaturan tab section di styling bagian isi di bagian class kolom*/
.kolom {
    margin-top: 50px;
    margin-bottom: 0px; 
    
}



/*styling kalimat deskripsi*/
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
   
}

/*styling kalimat h2 spesial fried rice*/
h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px; /*punya jarak dengan bawah nya*/
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

/*styling untuk button signup*/
a.tbl-biru {
    background: #3f72af; /*warna button*/
    border-radius: 10px; /*bentuk bulat button*/
    margin-top: 20px;
    padding: 15px 20px 15px 20px; /*15 dari atas 20 dari kanan 15 dari bawah 20 dari kiri*/
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;

}

/*reaksi ketika kursos mendekati button signup*/
a.tbl-biru:hover {
    background: #70f008;
    text-decoration: solid;
}

/*styling untuk button order now*/
a.tbl-pink {
    background: #f3a006; /*warna button*/
    border-radius: 50px; /*bentuk bulat button*/
    margin-top: 20px;
    padding: 15px 20px 15px 20px; /*15 dari atas 20 dari kanan 15 dari bawah 20 dari kiri*/
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

/*reaksi ketika kursos mendekati button order now*/
a.tbl-pink:hover {
    background: #f008d1;
    text-decoration: solid;
}

/*styling untuk button seemore*/
a.tbl-seemore{
    background: #f32a06; /*warna button*/
    border-radius: 50px; /*bentuk bulat button*/
    margin-top: 20px;
    padding: 15px 20px 15px 20px; /*15 dari atas 20 dari kanan 15 dari bawah 20 dari kiri*/
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

/*reaksi ketika kursos mendekati button seemore*/
a.tbl-seemore:hover {
    background: #f008d1;
    text-decoration: solid;
}

/*ukuran jarak button ordernow*/
p {
    margin: 10px 0px 10px 0px; /*kanan atas kiri bawah*/
    padding: 10px 0px 10px 0px;
    text-align: justify;
}

/*styling kalimat class tengah*/

.tengah {
    text-align: center;
    width: 100%;
    
}

.p {
    text-align: justify;
}

.deskripsi2{
    text-align: center;
    font-size: 30px;
}


/*styling kalimat untuk bagian pelayanan yang kami berikan */
.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/*styling masing-masing icon pelayanan*/
.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

/*styling masing-masing gambar icon pelayanan*/
.kartu-tutor img {
    width: 60%;
    height: 40%;
    border-radius: 50%;
}

/*styling tulisan icon*/
.kartu-tutor p {
    font-family: monospace;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #ff0202;
     
}

/*styling tulisan cabang */
h1 {
    text-align: center;

}


/*atur posisi cabang*/
.cabanglist {
    width: 100%;
    position: relative;
    display: flex; /*biar bentuknya kolom kolom*/
    flex-wrap: wrap; /*biar tidak jadi sllu 1 baris*/
}

.kartu-cabang {
    width: 20%; 
    margin: 0 auto; /* agar otomatis ketengah*/

}

/*atur posisi gambar cabang*/
.kartu-cabang img {
    width: 300px;
    height: 320px;
}

.kartu-cabang h5 {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

/*button view lokasi cabanng*/
a.tbl-cabang{
    background: #303030; /*warna button*/
    border-radius: 50px; /*bentuk bulat button*/
    margin-top: 20px;
    padding: 15px 20px 15px 20px; /*15 dari atas 20 dari kanan 15 dari bawah 20 dari kiri*/
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}


/* mengatur bagianfooter*/
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        


